.left{
    width: 400px;
    height: 400px;
    background-color: red;
    position: absolute;

}
.right {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: absolute;
}
hr {
    border-left: 3px solid white;
    height:800px;
    width: 10px;
  }
h2 {
    text-align: center;
}
.form {
    margin: auto;
}
.page {
    font-size: large;
}