h1 {
    margin-top: 12pt;
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
    margin-top: 12pt;
}

.navbar-brand {
    margin-left: 15pt;
    font-size: 18pt;
}

.navbar-nav {
    font-size: 12pt;
}

.nav-logo {
    margin-right: 10pt;
}

.footer {
    margin-top: 20pt;
}

.navbar {
    margin-bottom: 20pt;
}